<h1>Formulario para registrar usuarios</h1>

<form action='/user' method='post'>
  <label for='name'>Nombre</label>
  <input id='name' name='name' type='text' />
  <br />
  <label for='age'>Edad</label>
  <input id='age' name='age' type='number' />
  <br />
  <input type='submit' value='Enviar' />
</form>

<script src='index.js'></script>